*,
*::before,
*::after {
  box-sizing: border-box;
}

.container{
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

html{
  color: $main;
  font-size: $mainFontSize;
  font-family: $mainFontFamily;
  font-weight: $mainFontWeight;
}

body{
  background-color: $mainBackgroundColor;
}

a{
  text-decoration: none;
  color: inherit;
}

textarea, input, button{
  font-size: inherit;
  color: inherit;
  font-weight: inherit;
}

img{
  vertical-align: top;
}