
h1,h2,h3,h4,h5,h6{
  color: rgba($color: #1C294D, $alpha: 1.0);
}

h2{
  font-size: 20px;
  font-weight: 700;
}

h3{
  font-size: 16px;
  font-weight: 500;
}

h4{
  font-size: 14px;
  font-weight: 500;
  color: rgba($color: #1C294D, $alpha: 1.0);
}