@import url("https://fonts.googleapis.com/css?family=Roboto:regular,500,500italic,700,900&display=swap");


@font-face {
    font-family: "Gosha Sans";
    font-weight: 400;
    src:  url('/assets/fonts/GoshaSans-Regular.woff2') format('woff2'),
        url('/assets/fonts/GoshaSans-Regular.woff') format('woff');
}

@font-face {
    font-family: "Gosha Sans";
    font-weight: 700;
    src:  url('/assets/fonts/GoshaSans-Bold.woff2') format('woff2'),
        url('/assets/fonts/GoshaSans-Bold.woff') format('woff');
}