// main colors
$main: rgba($color: #1C294D, $alpha: 0.8);
$mainBackgroundColor: rgba($color: #282F36, $alpha: 0.04);
$black: #484644;

/* Разрешения */
$tablet : 768px;
$desktop: 1280px;

/* Fonts */

$mainFontSize: 14px;
$mainFontFamily: "Roboto", sans-serif;
$mainFontWeight: 400;

/* Titles */
